.box {
	margin: 10px;
	display: block;
	height: 180px;
	width: 110px;
}

.frame {
	position: absolute;
	background-color: #d6e3bc;
	height: 170px;
	width: 95px;
	border-radius: 20px;
	border: 1px solid black;
}

.clock {
	position: absolute;
	left: 6%;
	top: 4%;
	background-color: white;
	height: 85px;
	width: 80px;
	border-radius: 20px;
	border: 1px solid black;
	font-size: 30px;
}

.clock p {
	position: absolute;
	bottom: -3%;
	left: 5%;
}

.buttons {
	display: flex;
	position: absolute;
	top: 58%;
	left: 15%;
	width: 72px;
	height: 60px;
}

.c33 {
	position: relative;
	height: 100%;
	width: 33%;
}

.circle {
	position: relative;
	margin: 5px 2px;
	background-color: #3f3151;
	border-radius: 50%;
	width: 14px;
	height: 12px;
	border: 1px solid black;
}
